---
layout: layouts/base.njk
---
<article>
  <h1>{{ title }}</h1>
  {% if subtitle %}<p class="subtitle">{{ subtitle }}</p>{% endif %}

  {%- if creative_block -%}
    {% include "partials/creative-block.njk" %}
  {%- else -%}
    <hr>
  {%- endif -%}

  {{ content | safe }}
</article>
